<div class="p-fluid not-found">
    <div class="items">
        Recurso no encontrado <br>
        404
    </div>
</div>
<!-- <p-card header="tienda abc" [style]="{width: '500px'}">
    <ng-template pTemplate="header">
        <img src="../../../assets/media/images/tienda.jpg" alt="imaghen tienda">
    </ng-template>
    <p-card header="Papel higienico">
        <img src="../../../assets/media/images/papel.jpg" width="200px" height="200px" alt="imagen producto">
        <br>
        precio:4 x $1 <br>
        compra desde: 1 paquete
    </p-card>
    <p-card header="Arroz">
        <img src="../../../assets/media/images/arroz.jpg" width="200px" height="200px" alt="imagen producto">
        <br>
        precio:1lb x $0.60  <br>
        compra desde: 1 lb
    </p-card>
    <p-card header="Azucar">
        <img src="../../../assets/media/images/azucar.jpg" width="200px" height="200px" alt="imagen producto">
        <br>
        precio: 1lb x $0.80 <br>
        compra desde: 1lb
    </p-card>
</p-card> -->