<!-- formulario para crear o modificar un registro -->
<p-card header="Modificacion y creacion de tiendas">
    <div class="p-fluid">
        <form [formGroup]="ShopForm" (ngSubmit)="onSubmit(ShopForm.value)">
            <div class="formgrid grid">

                <div class="field xl:col-5 lg:col-5 md:col-4 sm:col-12">
                    <label for="name">Nombre:</label>
                    <input pInputText type="text" id="name" formControlName="name">
                    <div *ngIf="nameField.invalid && (nameField.touched || nameField.dirty)">
                        <small *ngIf="nameField.errors?.required" class="p-error">
                            Este campo es obligatorio!!
                        </small>
                        <small *ngIf="nameField.errors?.maxlength" class="p-error">
                            El maximo de caracteres para el nombre es de 50!!
                        </small>
                    </div>
                </div>

                <div class="field xl:col-5 lg:col-5 md:col-4 sm:col-12">
                    <label for="code">Codigo:</label>
                    <input pInputText type="text" id="code" formControlName="code">
                    <div *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)">
                        <small *ngIf="nameField.errors?.required" class="p-error">
                            Este campo es obligatorio!!
                        </small>
                        <small *ngIf="codeField.errors?.minLength" class="p-error">
                            El minimo de caracteres para el codigo es de 2!!
                        </small>
                        <small *ngIf="codeField.errors?.maxlength" class="p-error">
                            El maximo de caracteres para el cofigo es de 10!!
                        </small>
                    </div>
                </div>
                <div class="field xl:col-5 lg:col-5 md:col-4 sm:col-12">
                    <label for="code">Direccion:</label>
                    <input pInputText type="text" id="code" formControlName="direction">
                    <div *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)">
                        <small *ngIf="nameField.errors?.required" class="p-error">
                            Este campo es obligatorio!!
                        </small>
                        <small *ngIf="codeField.errors?.minLength" class="p-error">
                            El minimo de caracteres para el codigo es de 2!!
                        </small>
                        <small *ngIf="codeField.errors?.maxlength" class="p-error">
                            El maximo de caracteres para el cofigo es de 10!!
                        </small>
                    </div>
                </div>
                <div *ngIf="!Updated" class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
                    <button pButton label="Guardar" icon="pi pi-save" type="submit"></button>
                </div>
                <div *ngIf="Updated" class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
                    <button pButton label="Actualizar" icon="pi pi-refresh" type="submit"></button>
                </div>
                <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
                    <button pButton label="Cancelar" icon="pi pi-times" type="button" (click)="onCancel()"></button>
                </div>
            </div>
        </form>
    </div>
</p-card>

<!-- tablero con todos los datos -->

<p-table id="shopsTable" [value]="Shops" [rows]="10" [paginator]="true" [(selection)]="selectedShops">
    <ng-template pTemplate="caption">
        <button pButton pRipple type="button" label="Eliminar seleccionados"
            class="p-button-danger p-button-rounded ml-2" icon="pi pi-trash" (click)="deleteShops()"></button>
        
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
                <!-- Id <p-sortIcon field="id"></p-sortIcon> -->
                <div class="p-d-flex p-jc-between p-ai-center">
                    ID
                    <p-columnFilter type="numeric" field="id" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="name">
                <!--Nombre <p-sortIcon field="name"></p-sortIcon> -->
                <div class="p-d-flex p-jc-between p-ai-center">
                    Tienda
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="code">
                <!-- Codigo <p-sortIcon field="code"></p-sortIcon> -->
                <div class="p-d-flex p-jc-between p-ai-center">
                    Codigo Tienda
                    <p-columnFilter type="text" field="code" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="direction">
                <!-- Direccion <p-sortIcon field="direcction"></p-sortIcon>-->
                <div class="p-d-flex p-jc-between p-ai-center">
                    Direccion
                    <p-columnFilter type="text" field="direction" display="menu"></p-columnFilter>
                </div>
            </th>
            <th> Acciones </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" ngFor let-shop [ngForOf]="Shops" let-index="index">
        <tr [pSelectableRow]="shop" [pSelectableRowIndex]="index">
            <td>
                <p-tableCheckbox [value]="shop"></p-tableCheckbox>
            </td>
            <!-- <td> {{shop| json }} </td> -->
            <td>{{shop.id}}</td>
            <td>{{shop.name}}</td>
            <td>{{shop.code}}</td>
            <td>{{shop.direction}}</td>
            <td>
                <button pButton type="button" icon="pi pi-eye" label="Mostrar" (click)=selectShop(shop)></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-danger" label="Eliminar"
                    (click)=deleteShop(shop)></button>
            </td>
        </tr>
    </ng-template>
</p-table>